
//noinspection CssInvalidFunction
$fa-font-path: unquote(get-setting(NODE_MODULES_URL) + "font-awesome/fonts") !default

@import "../../node_modules/font-awesome/scss/font-awesome"
@import "../../node_modules/bootstrap/scss/bootstrap"

nav
  .navbar-brand
    img.logo
      height: 30px

footer
  &.bordered-top
    margin-top: 2em
    border-top: solid 1px lightgrey
    padding-top: 0.5em

.mouse-over
  &:hover
    cursor: pointer

.page-header
  @extend .justify-content-between
  @extend .btn-toolbar
  h1
    margin-bottom: 0.5em

#main.container
  margin-top: 1em
  margin-bottom: 2em

img.logo-bde-big
  height: 100px
  margin: 1em

footer
  margin: 2em 1em
  #copyright-notice
    text-align: right
    color: #555